# Additional requirements go here
djangorestframework==3.12.4
python-slugify==5.0.2
django-mptt==0.13.4
drf-yasg==1.20.0
django-reversion==5.0.1
django-crispy-forms==1.12.0

git+https://github.com/dcopm999/pharmcrm2-goods.git
